## List and realted examples

In [1]:
li=[1,2,3,4]

In [2]:
print(li)

[1, 2, 3, 4]

In [3]:
del li[3] # deletes the given cell & replaced by the prvious value

In [4]:
print(li)

[1, 2, 3]

In [5]:
li[0]="lol"

In [6]:
print (li)

['lol', 2, 3]

In [7]:
print(len(li))

3

In [10]:
print(li[-2])# shows the second last value of the list

2

In [11]:
print(li[1:3])#list slicing

[2, 3]

In [12]:
print(li[2:3])

[3]

In [14]:
print(li[1:2])

[2]

In [26]:
print(sum(li))#sum of elements in list
print(min(li))#min value of list
print(max(li))#max value of list
print(sum(li)//len(li))#avg
print(li[1:3:2])

1581
2
1576
527
[2]

In [20]:
li[0]=1576

In [21]:
print(li)

[1576, 2, 3]

### List methods

In [27]:
li.append(3931)# adds new value at the end of the list

In [28]:
print(li)

[1576, 2, 3, 3931]

In [29]:
li.insert(2,383) #insert the value in between the elemnts of array

In [30]:
li

[1576, 2, 383, 3, 3931]

In [32]:
li.append(383)
li

[1576, 2, 383, 3, 3931, 383, 383]

In [34]:
li.count(383)#shoes the number of times avaue is repeated

3

In [39]:
print("index=", end = ' ',)
li.index(383) #gives the index of the given value

index=

2

In [42]:
li.sort()# sorts the entire list
li
li.pop()#removes the item on the last index
li

[2, 3, 383, 383, 383, 1576]

In [44]:
li.pop(1)# removes the specified index value
li

[2, 383, 383, 1576]

### Question: li=[1,9,16,25,2,3,]
* print the second largest digit

In [46]:
a=[1,9,16,25,2,3]
def secondLargest(a):
    a.sort()
    return a[-2]
print ("the second largest number")
secondLargest(a)

the second largest number

16

In [49]:
def genericLargest(a,n):
    a.sort()
    return a[-n]
genericLargest(a,2)

16

In [52]:
def genericLeast(a,b):
    a.sort()
    return a[b]
genericLeast(a,0)

1

# Number to list Conversions
* 19563212- [1,9,5,6,3,2,1,2]

In [53]:
a.reverse()
a

[25, 16, 9, 3, 2, 1]

In [58]:
def numberToList(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numberToList(19563212)

[1, 9, 5, 6, 3, 2, 1, 2]

# Data Structures - Tuples
* it is similar to list object 
* list will be enclosed in [] while tuples are enclosed in ().
* tuple is fixed while list can be increased or decreased.
* you can't increase or decrease the tuple.
* list is mutable while tuples are immutable.
* list is uesd for reading or writing whereas the tuple will be used for reading

In [59]:
 t1 = (1,1,5,9,2)
t1

(1, 1, 5, 9, 2)

In [62]:
t1[0:4]

(1, 1, 5, 9)

In [63]:
del t1[3]

TypeError: 'tuple' object doesn't support item deletion

# Data Structures : Dictionary
* this data structure object works on set of keys and values.
* there will be a unique key set defined.
* every key and value pair is separated by comma(,)
* every key is separated from its value by colon(:)
* it is definees by curly brace brackets { }.
* variable={"<key name>":"<key value>"}

In [64]:
d1={"name":"ciel Phantomhive","emailID":"ciel@gmail.com","Mobile Number":"8309531432"}
print(d1)

{'name': 'ciel Phantomhive', 'emailID': 'ciel@gmail.com', 'Mobile Number': '8309531432'}

In [66]:
print(d1["emailID"])

ciel@gmail.com

In [69]:
d1["Mobile Number"]= 27070244 #updates the dict value

In [70]:
del d1["Mobile Number"]#deletes specific key

# Contact application
* used concepts: Dict,List and tuple
## modules of contact application
* Add contacts
* search contact
* Import a new Contact details
* updating the contacts (number)
* deleting contact

In [90]:
contacts={} #empty dictionary 
#define function add contacts
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added")
    else:
        print("unable to add contact")
    return
addContacts('anil',9849006755)
addContacts('david',73532819523)
addContacts('anil',4027070244)

contact added
contact added
unable to add contact

In [99]:
#module for searching contacts
def searchContacts(name):
    if name in contacts:
        print(name, ' ',contacts[name])
    else :
        print("contact is not available")
    return
searchContacts('anil')
searchContacts('david')
searchContacts('ciel')

contact is not available
contact is not available
contact is not available

In [100]:
#module for importing a new contact
def importContacts(newContacts):
    contacts.update(newContacts)
    print("New Contact(s) are added")
    return
newContacts = {"ceil":"4027070244","bhargav":"9550316870"}
importContacts(newContacts)

New Contact(s) are added

In [94]:
#module for updating details
def updateDetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print("update is successful")
    else:
        print("please add new contact details")
    return
updateDetails("anil",8309531432)#update is successful
updateDetails("mabesh",789392165)#enter new contact details

update is successful
please add new contact details

In [98]:
#define function for deleting contact details 
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print("contact is deleted")
    else:
        print("contact is not available")
    return
deleteContact("david")
deleteContact("mabesh")
contacts

contact is deleted
contact is not available

{'ceil': '4027070244', 'bhargav': '9550316870'}

## Features to be added 
* changing the contact file into text
* merge two numbers of same contact
* adding image to a contact 
* checking whether the number as 10 digits
* export to external storage

# String to list Conversion
* "1 2 3 4 5 6"=[1,2,3,4,5,6]

In [104]:
s= "application test mode"
li = s.split()
li

['application', 'test', 'mode']

In [106]:
s1="gitam school of technology hyderabad Python Programming"
li1=s1.split('a')
print(li1)

['git', 'm school of technology hyder', 'b', 'd Python Progr', 'mming']

In [109]:
#funtion to convert string to list 
def stringToList(s):
    li=s.split()#dividing the string using white spaces
    numberlist=[]
    for i in li:
        numberlist.append(int(i))
    return numberlist
stringToList("1 2 3 4 5 6 7 8 9 0")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]